---

---

<div class="wrapper">
  <h1>
    Congress shall make no law respecting an establishment of religion, or
    prohibiting the free exercise thereof; or abridging the freedom of speech,
    or of the press; or the right of the people peaceably to assemble, and to
    petition the Government for a redress of grievances.
  </h1>
  <h2>
    The First Amendment to the Constitution of the United States of America
  </h2>
</div>

<style>
  .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px 100px 50px;
  }

  h1,
  h2 {
    margin: 0;
    text-transform: uppercase;
  }

  h1 {
    line-height: 50px;
    text-align: justify;
    letter-spacing: 0.3px;
  }

  h2 {
    line-height: 35px;
    letter-spacing: 1.9px;
  }

  @media (max-width: 1200px) {
    h1 {
      font-size: 25px;
      line-height: 40px;
    }

    h2 {
      font-size: 18px;
      line-height: 30px;
    }
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 22px;
      line-height: 35px;
    }

    h2 {
      font-size: 16px;
      line-height: 25px;
    }
  }

  @media (max-width: 576px) {
    .wrapper {
      gap: 25px;
      padding: 0 15px 100px 15px;
    }

    h1,
    h2 {
      text-align: left;
      letter-spacing: 1px;
    }

    h2 {
      font-size: 14px;
      line-height: 22px;
    }
  }
</style>
